main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dressList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1% 2%;
    margin-bottom: 2rem;
}

.boxes {
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
    background-color: var(--white);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    width: 250px;
    min-height: 350px;
}

h3 {
    color: var(--maroon);
    margin: 0;
}
.boxes h3 {
    margin-bottom: 0.5rem;
}

.top {
    /*the top header with search bar*/
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--white);
    align-items: center;
    justify-content: space-between;
    margin: 3%;
    padding: 2% 4%;
    width: 80%;
}

.tags {
    /*list of tags*/
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin: 1% 0%;
    gap: 0.3rem;
}

.tag {
    /*tags - button like*/
    display: flex;
    background-color: var(--dpink);
    color: var(--white);
    border-radius: 4px;
    padding: 1px 6px;
    align-items: center;
    margin-bottom: 0.5rem;
}

.top .tag {
    padding: 10px 6px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.top .tag:hover {
    background-color: var(--maroon);
}

.dress {
    width: 100%;
    max-width: 200px;
    max-height: 250px;
    border-radius: 10px;
    object-fit: contain;
}

.hidden {
    display: none;
}

input {
    width: 40%;
    min-width: 200px;
    border-radius: 10px;
    border-color: var(--maroon);
    padding: 1% 1%;
    background-color: var(--lpink);
    color: var(--maroon);
    box-sizing: border-box;
}

input::placeholder {
    color: var(--maroon);
}

.searchedTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin: 1%;
}

@media (max-width: 768px){
    .top{
        width: 90%;
        justify-content: center;
    }
    .top h3{
        margin-bottom: 2%;
    }
    .boxes{
        width: 90%;
    }
    input{
        width: 100%;
    }
}