body{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.top{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:center;
    gap:5%;
}
.top-left, .top-right{
    width:45%;
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.top-left a{
    background-color: var(--dpink);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    text-decoration:none;
    width:100%;
}

.top-left a:hover{
    background-color: var(--maroon);
}

.top-right h3{
    margin: 0 auto;
    background-color: var(--dpink);
    color: var(--white);
    border-radius: 10px;
    padding: 10px 20px;
}
#reason, #message, #email{
    padding: 10px;
    border-radius: 10px;
    border:none;
    outline: none;
}
#message::placeholder, #email::placeholder{
    color: var(--dark-gray);
}

.contact-form h2{
    color:var(--white);
    background-color: var(--dpink);
    padding: 10px;
    border-radius: 10px;
}
.contact-form button{
    background-color: var(--dpink);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    width:100%;
    border-radius: 10px;
}

.contact-form{
    flex:1;
    text-align: center;
    color:var(--white);
    background-color: var(--lpink);
    display:flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width:100%;
}
.map{
    width:100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}
.faq-container{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 50px;
    width:90%;
    margin: 0 auto;
}
.faq-split{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.faq{
    break-inside: avoid;
    margin-bottom: 20px;
}
.faq button{
    background-color: var(--dpink);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    width:100%;
    border-radius: 10px;
}
.faq button:hover{
    background-color: var(--maroon);
}
.faq .answer{ 
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--dpink);
    margin-top: 5px;
    border-radius: 10px;
    display: none;
    color:var(--dark-gray);
}

.faq .answer.active{
    display: block;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .top{
        flex-direction: column;
        align-items:center;
        gap:10px;
    }
    .top-left, .top-right{
        width:90%;
    }
    .contact-form, a{
        width:100%;
        box-sizing: border-box;
    }
    .faq-container {
        grid-template-columns: 1fr;
    }
}