:root{
    --white: white;
    --dark-gray: #333;
    --xlpink: #ffe5ec;
    --lpink: #ffc2d1;
    --mpink: #eaa8b9;
    --dpink: #ff8fab;
    --maroon: #E7456D;
}

body{
    background-color:var(--xlpink);
    margin:0;
    padding:0;   
    font-family: cutivemono, monospace;
}

h1, h2, h3, h4, h5, h6, button, form, input, textarea,select{
    font-family: cutivemono, monospace;
}

#nav{
  display:flex;
  justify-content: flex-end;
  list-style-type: none;
  background-color: var(--white);
  margin:0;
  padding:0;
}
.navLi{
    float: left;

}
.navA{
    color: var(--dark-gray);
    display: block;
    text-decoration: none;
}
li.navLi .navA{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 18px;
}
li.navLi a:hover{
    text-decoration: none;
    background-color: var(--dpink);
    color:var(--white);
}
.active{
    background-color: var(--maroon);
    color:var(--white);
}